{{define "index"}}
<!DOCTYPE html>
<html>
  <head rel="v2">
    <title>Concourse Summary</title>
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/favico-0.3.10.min.js"></script>
    <script src="/refresh.js"></script>
  </head>
  <body>
    <h1>Concourse Summary</h1>
    <p>Use the URL path to show a summary, eg, '/host/[HOST NAME]'</p>

    {{range .Hosts}}
    <div><a href="/host/{{ .FQDN}}">
      {{ .FQDN}}
    </a></div>
    {{end}}

    {{if .Groups}}
      <div style="margin-top:2em">Groups</div>
      {{range .Groups}}
        <div><a href="/group/{{ .Group}}">
          {{ .Group}}
        </a></div>
      {{end}}
    {{end}}

    <p>This project can be found on <a href="https://github.com/FidelityInternational/go-concourse-summary" target="_blank">Github</a></p>
  </body>
</html>
{{end}}
